body{
    text-align: center;
 
    display: grid;
    grid-template-columns: 1fr; 
    grid-auto-rows: minmax(5px, auto);
    grid-template-areas: "header" "main_content" "footer";
    height: 50vh;
    background-color:thistle; 
    font-family:Verdana, Geneva, Tahoma, sans-serif
    
}



#footer{
    grid-area: footer;
}

.main{

    grid-area: main_content;
    grid-template-areas: "content" "main_map";
    display: grid;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}


#contents{
    grid-area: content;
}


img:only-of-type {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 210px;
    width: 250px;
  }

#the_map{
    height:80vh;
    grid-area: main_map;
}
